html, body {
    height: 100%;
    margin: 0;
}
body {
  /*background: #03B0C8;*/
  background:#FFFFFF;
  font-family: 'Roboto', sans-serif;
  color: #25282B;
}
  main {
    background-color: #03B0C8;
    display: flex;
    flex-flow: column;
    position: relative;
    z-index: 1;
}

body i {
font-family:'FontAwesome'!important;
}

header {
    padding: 24px;
    min-height: 350px;
    background-image: url("https://i.ibb.co/T8fzY0C/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 236.18px 306px;
    position: relative;
    text-align: center;
    margin-bottom: 0;
    }
    
header h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 122px;
}

header h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

    header img {
    width: 60px;
    height: 72px;
    top: 24px;
    left: 24px;
    position: absolute;
    }
    
	main::after {
    content: '';
    background-image: url("https://i.ibb.co/3SXn4ZR/futurebluebackground.png");
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.container{
z-index: 3;
}
main .footer {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    z-index:100;
    margin-top: 2.5rem;
}

.character-list {
  margin: 25px;
  padding: 0;
  list-style: none;
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.character-list div {
  border-radius: 6px;
  overflow: hidden;
  padding:5px;
  padding-bottom: 15px;
  background: #fff;
  font-size: 14px;
  display:flex;
  flex-direction:row;
}
.character-list img {
  display: block;
  /*max-width: 100%;*/
  width: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius:6px;
  flex-grow:1;
}
.character-list .character-info {
    display:table;
    /*flex-grow:2;*/
    }
 .character-list .title {   
    font-family: 'Roboto';
    color: #25282B;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 2px;
    font-size:16px;
    }
    
     .character-list .id {   
    font-size:12px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 2px;
    }

.character-list .character-info:hover{ 
cursor: pointer; 
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    animation: openModal 0.3s ease;
}

.modal-container{
    overflow: hidden;
     width: 600px;
     top: 40px;
     z-index: 100;
    max-width: 90%;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 6px;
    text-align:center;
    font-size:14px;
     word-break: break-all;
}

.modal-container img{
    diplay:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    border-radius:10px;
    width: 143px;
    height: 143px;
    margin-top: 17px;
}


.modal-container .modal-container-info{
    background-color: #03B0C8;
    margin: 0 -30px;
    margin-bottom: 0px;
    margin-bottom: -15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 22px;
    overflow-wrap: break-word;
    word-break:break-all;   
   }

.content{
min-height:1vh;
}

.cta {
margin-left:20px;
 }
 
  main .footer {
      margin-left:24px;
  }
  
 main .footer .page-master {
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DFE3E8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.page-master i {
    align-items: center;
    justify-content: center;
    line-height: 29px;
}

@media only screen and (max-width: 1150px) {
.character-list{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media only screen and (max-width: 550px) {
header {   
    min-height: 295px;
    }
header h1 {
    font-size: 25px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 114px;
    }
header h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

